<h2>Your dream logs <span class="badge badge-pill badge-info float-right">
        Total : {{count}}</span></h2>
<small>read through, update or delete dream logs...</small>
<hr>

<div class="playground mt-4">
    <table id="dreamsTable" class="table text-white">
        <thead class="text-info">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Visibility</th>
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each dreams}}
            <tr>
                <td>{{title}}</td>
                <td>{{visibility}}</td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm a'}}</td>
                <td>
                    <a href="/dreams/edit/{{slug}}" class="btn btn-warning btn-sm">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm delete" id="{{slug}}">
                        Delete
                    </button>
                </td>
            </tr>
            {{else}}
            <tr class="text-center">
                <td colspan="5">No dreams! Go add some..</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete a dream log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-muted pt-3">Are you sure you want to delete the dream log?</p>
                <small class="text-danger">This process is ireeversible</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="POST" id="deleteForm">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>